a[aria-disabled="true"] {
    background-color: #e0a46e;
    color: currentColor;
    display: inline-block; /* For IE11/ MS Edge bug */
    pointer-events: none;
}

a[aria-disabled="false"] {
    background-color: #f68119;
    color: currentColor;
    cursor: pointer;
    display: inline-block; /* For IE11/ MS Edge bug */
}

.stake-form {
    background: #fffef9;
    border: 1px solid #e1e6de;
    border-radius: 5px;
}

.pool-information {
    background: #fffef9;
    border: 1px solid #e1e6de;
    border-radius: 5px;
}

.countdown {
    font-weight: bold;
    text-transform: uppercase;
}

.countdown span {
    /*        font-size: 3rem;*/
    margin-left: 0.8rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.countdown span:first-of-type { margin-left: 0; }

.countdown-circles {
    font-weight: bold;
    text-transform: uppercase;
}

.countdown-circles span {
    align-items: center;
    background: #ffffff;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    box-shadow: 2px 2px 10px #000000;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    height: 100px;
    justify-content: center;
    width: 100px;
}

.countdown-circles span:first-of-type { margin-left: 0; }


/*
*
* ==================================================
* FOR DEMO PURPOSES
* ==================================================
*
*/

body { min-height: 100vh; }

.bg-gradient-1 {
    background: #7f7fd5;
    background: -webkit-linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
    background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
}

.bg-gradient-2 {
    background: #654ea3;
    background: -webkit-linear-gradient(to right, #654ea3, #eaafc8);
    background: linear-gradient(to right, #654ea3, #eaafc8);
}

.bg-gradient-3 {
    background: #ff416c;
    background: -webkit-linear-gradient(to right, #ff416c, #ff4b2b);
    background: linear-gradient(to right, #ff416c, #ff4b2b);
}

.bg-gradient-4 {
    background: #007991;
    background: -webkit-linear-gradient(to right, #007991, #78ffd6);
    background: linear-gradient(to right, #007991, #78ffd6);
}

.rounded { border-radius: 1rem !important; }