@{
    Layout = null;
}

<div class="card card-custome gutter-b">
    <div class="card-body">
        <div class="alert alert-custom alert-secondary" role="alert">
            <div class="alert-icon">
                <div class="spinner spinner-track spinner-dark spinner-lg mr-15"></div>
            </div>
            <div class="alert-text">
                <p class="font-weight-bolder font-size-lg">Please do not close the browser</p>
                <p class="message">Your request is processing ...</p>
            </div>
        </div>
    </div>
</div>