@{
    Layout = null;
}

<form class="form" id="stake_form">
    <div class="form-group row">
        <div class="col-lg-12">
            <input type="number" name="amount" id="amount" class="form-control" placeholder="Enter amount of stake tokens" value=""/>
            <input type="hidden" name="balance" id="balance" class="form-control" value="0"/>
        </div>
    </div>
    <div class="form-group">
        <label>Quick Options</label>
        <div class="radio-inline">
            <label class="radio">
                <input type="radio" name="quickAmount" value="25"/>
                <span></span>
                25%
            </label>
            <label class="radio">
                <input type="radio" name="quickAmount" value="50"/>
                <span></span>
                50%
            </label>
            <label class="radio">
                <input type="radio" name="quickAmount" value="75"/>
                <span></span>
                75%
            </label>
            <label class="radio">
                <input type="radio" name="quickAmount" value="100"/>
                <span></span>
                100%
            </label>
        </div>
        <span class="form-text text-muted balance">
        </span>
    </div>
    <div class="form-group row text-center">
        <div class="col-lg-12">
            <button type="submit" class="btn btn-sm btn-text btn-dark text-uppercase">Stake</button>
        </div>
    </div>
</form>
<script src="~/js/pages/pool1-stake-form.js"></script>
<script>
    fetchBalance(selectedAccount);

    $(document).ready(function() {
        $("input[name=quickAmount]").change(function (e) {
            if (e.currentTarget.checked) {
                setQuickAmount(e.currentTarget.value);
            }
        });

        $("#amount").keypress(function() {
            const options = $("input[name=quickAmount]");
            $.each(options, function(index, item) {
                $(item).prop("checked", false);
            });
        });
    });
</script>