@using Microsoft.Extensions.Options
@using web_mvc.Helpers
@using web_mvc.Options
@{
    ViewData["Title"] = "Pool #1";
    Layout = "~/Views/Shared/_Layout.Metronic.cshtml";
}
@inject IOptions<Pool1Settings> Pool1Options;
<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Row-->
        <div class="row mt-0 mt-lg-8" style="margin-top: 50px">
            <!--begin::Col-->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <!--begin::Card-->
                <div class="card card-custom gutter-b">
                    <div class="card-body">
                        <div class="row">
                            <!--begin: Pic-->
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                                <div class="symbol symbol-50 symbol-lg-120">
                                    <img alt="Logo" src="~/_metronic/media/logos/icon.png" />
                                </div>
                                <div class="symbol symbol-50 symbol-lg-120 symbol-primary d-none">
                                    <span class="font-size-h3 symbol-label font-weight-boldest">JW</span>
                                </div>
                            </div>
                            <!--end: Pic-->
                            <!--begin: Info-->
                            <div class="col-xl-9 col-lg-9 col-md-6 col-sm-12">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mr-3">
                                            <!--begin::Name-->
                                            <a href="#" class="d-flex align-items-center text-dark text-hover-primary font-size-h5 font-weight-bold mr-3">
                                                Deposit @Pool1Options.Value.StakeContract.Symbol - Earn @Pool1Options.Value.RewardContract.Symbol
                                                <i class="flaticon2-correct text-success icon-md ml-2"></i>
                                            </a>
                                            <span style="overflow: auto" class="d-flex align-items-center text-dark text-hover-primary font-weight-bold mr-3 connectedWallet"></span>
                                            <!--end::Name-->
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-12">
                                                <button class="btn btn-sm mr-5 mt-5 btn-text btn-dark text-uppercase font-weight-bold stake" disabled data-toggle="modal" data-target="#stakeModal">Stake</button>
                                                <button class="btn btn-sm mr-5 mt-5 btn-text btn-dark text-uppercase font-weight-bold claim" disabled>Claim</button>
                                                <button class="btn btn-sm mr-5 mt-5 btn-text btn-dark text-uppercase font-weight-bold withdraw" disabled>Withdraw & Claim</button>
                                            </div>
                                        </div>
                                        <div class="row mt-5">
                                            <div class="col-xl-2 col-lg-2 col-md-6 col-6">
                                                <div class="font-weight-bold mb-2">Joined Date</div>
                                                <div class="createdAt_">
                                                    <span class="spinner spinner-track spinner-dark spinner-sm mr-15"></span>
                                                </div>
                                            </div>
                                            <div class="col-xl-2 col-lg-2 col-md-6 col-6">
                                                <div class="font-weight-bold mb-2">Unlocked Date</div>
                                                <div class="canUnlockWithdrawAt">
                                                    <span class="spinner spinner-track spinner-dark spinner-sm mr-15"></span>
                                                </div>
                                            </div>
                                            <div class="col-xl-2 col-lg-2 col-md-6 col-6">
                                                <div class="font-weight-bold mb-2">Your Stake</div>
                                                <div class="stakeAmount_">
                                                    <span class="spinner spinner-track spinner-dark spinner-sm mr-15"></span>
                                                </div>
                                            </div>
                                            <div class="col-xl-2 col-lg-2 col-md-6 col-6">
                                                <div class="font-weight-bold mb-2">Your Reward</div>
                                                <div class="reward_">
                                                    <span class="spinner spinner-track spinner-dark spinner-sm mr-15"></span>
                                                </div>
                                            </div>
                                            <div class="col-xl-2 col-lg-2 col-md-6 col-6">
                                                <div class="font-weight-bold mb-2">Claimed Reward</div>
                                                <div class="claimedReward_">
                                                    <span class="spinner spinner-track spinner-dark spinner-sm mr-15"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end: Info-->
                        </div>
                        <!--begin: Items-->
                        <div class="separator separator-solid my-7"></div>
                        <!--begin: Items-->
                        <div class="d-flex align-items-center flex-wrap">
                            <!--begin: Item-->
                            <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                                <span class="mr-4">
                                    <i class="flaticon-piggy-bank icon-2x text-muted font-weight-bold"></i>
                                </span>
                                <div class="d-flex flex-column text-dark-75">
                                    <span class="font-weight-bolder font-size-sm">Pool Reward</span>
                                    <span class="font-weight-bolder font-size-h5 poolTotalReward_">
                                        <span class="spinner spinner-track spinner-dark spinner-sm mr-15"></span>
                                    </span>
                                </div>
                            </div>
                            <!--end: Item-->
                            <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                                <span class="mr-4">
                                    <i class="flaticon-coins icon-2x text-muted font-weight-bold"></i>
                                </span>
                                <div class="d-flex flex-column text-dark-75">
                                    <span class="font-weight-bolder font-size-sm">Pool Total Stake</span>
                                    <span class="font-weight-bolder font-size-h5 poolTotalStake_">
                                        <span class="spinner spinner-track spinner-dark spinner-sm mr-15"></span>
                                    </span>
                                </div>
                            </div>
                            <!--end: Item-->
                            <!--begin: Item-->
                            <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                                <span class="mr-4">
                                    <i class="flaticon-refresh icon-2x text-muted font-weight-bold"></i>
                                </span>
                                <div class="d-flex flex-column text-dark-75">
                                    <span class="font-weight-bolder font-size-sm">RPS (Reward per Second)</span>
                                    <span class="font-weight-bolder font-size-h5 poolRewardPerSecond_">
                                        <span class="spinner spinner-track spinner-dark spinner-sm mr-15"></span>
                                    </span>
                                </div>
                            </div>
                            <!--end: Item-->
                            <!--begin: Item-->
                            @*<div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                                <span class="mr-4">
                                    <i class="flaticon-users icon-2x text-muted font-weight-bold"></i>
                                </span>
                                <div class="d-flex flex-column text-dark-75">
                                    <span class="font-weight-bolder font-size-sm">Stakeholders</span>
                                    <span class="font-weight-bolder font-size-h5 poolNumberOfStakeholders_">
                                        <span class="spinner spinner-track spinner-dark spinner-sm mr-15"></span>
                                    </span>
                                </div>
                            </div>*@
                            <!--end: Item-->
                            <!--begin: Item-->
                            <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                                <span class="mr-4">
                                    <i class="flaticon-coins icon-2x text-muted font-weight-bold"></i>
                                </span>
                                <div class="d-flex flex-column text-dark-75">
                                    <span class="font-weight-bolder font-size-sm">Claimed Reward</span>
                                    <span class="font-weight-bolder font-size-h5 poolClaimedReward_">
                                        <span class="spinner spinner-track spinner-dark spinner-sm mr-15"></span>
                                    </span>
                                </div>
                            </div>
                            <!--end: Item-->
                            <!--begin: Item-->
                            <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                                <span class="mr-4">
                                    <i class="flaticon-time icon-2x text-muted font-weight-bold"></i>
                                </span>
                                <div class="d-flex flex-column text-dark-75">
                                    <span class="font-weight-bolder font-size-sm">Ended At</span>
                                    <span class="font-weight-bolder font-size-h5 poolEndedAt_">
                                        <span class="spinner spinner-track spinner-dark spinner-sm mr-15"></span>
                                    </span>
                                </div>
                            </div>
                            <!--begin: Items-->
                        </div>
                    </div>
                </div>
                <!--end::Card-->
                <div class="card card-custome gutter-b processingArea" style="visibility: hidden">
                    <div class="card-body">
                        <div class="alert alert-custom alert-secondary" role="alert">
                            <div class="alert-icon">
                                <div class="spinner spinner-track spinner-dark spinner-lg mr-15"></div>
                            </div>
                            <div class="alert-text">
                                <p class="font-weight-bolder font-size-lg">Please do not close the browser</p>
                                <p class="message">Your request is processing ...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Col-->
        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
</div>

<div class="modal fade" id="stakeModal" tabindex="-1" role="dialog" aria-labelledby="stakeModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<!--end::Entry-->

@section Scripts
{
    <script src="~/js/smart-contracts/erc20-abi.js" asp-append-version="true"></script>
    <script src="~/js/smart-contracts/pool1-abi.js" asp-append-version="true"></script>
    <script src="~/js/web3-account.js" asp-append-version="true"></script>
    <script src="~/js/web3-provider.js" asp-append-version="true"></script>
    <script src="~/js/web3-pool1.js" asp-append-version="true"></script>
    <script src="~/js/pages/pool1.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function() {
            if (window.web3 && window.web3.currentProvider.isConnected()) {
                $.when(getPoolInformation()).then(function () {
                    waitForWalletConnectThenFetchInformation();
                });
            }

            $('.claim').on('click',
                function() {
                    pool1OnRewardsClaim();
                });

            $('.unstakeAndClaim').on('click',
                function() {
                    pool1OnUnstakeAndClaimRewards();
                });

            $('.withdraw').on('click',
                function() {
                    pool1OnWithdraw();
                });

            $('#stakeModal').on('shown.bs.modal',
                function() {
                    $('#stakeModal .modal-body').load('@Url.Action("StakeForm", "Pool1")');
                });
        });
    </script>
}