@using Microsoft.Extensions.Options
@using web_mvc.Options
@inject IOptions<AppSettings> AppSettings
<!--begin::Footer-->
<div class="footer py-2 py-lg-0 my-5 d-flex flex-lg-column" id="kt_footer">

    <!--begin::Container-->
    <div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">

        <!--begin::Copyright-->
        <div class="text-dark order-2 order-md-1">
            <span class="text-muted font-weight-bold mr-2">@AppSettings.Value.Copyright.Year ©</span>
            <a asp-action="Index" asp-controller="Home" target="_blank" class="text-dark-75 text-hover-primary">JW.FINANCE</a>
        </div>

        <!--end::Copyright-->

        <!--begin::Nav-->
        <div class="nav nav-dark order-1 order-md-2">
            <a href="@AppSettings.Value.Copyright.Url" target="_blank" class="nav-link pr-3 pl-0">About</a>
            <a href="@AppSettings.Value.Telegram" target="_blank" class="nav-link px-3">Telegram Team</a>
            <a href="@AppSettings.Value.Github" target="_blank" class="nav-link pl-3 pr-0">Github</a>
        </div>
        <!--end::Nav-->
    </div>
    <!--end::Container-->
</div>
<!--end::Footer-->